{% extends 'layouts/base.twig' %}

{% block title %}
	{{title}}
{% endblock title %}

{% block content %}
	{% include 'partials/nav.twig' %}
	{% include 'partials/banner.twig' %}

	<main>
		<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
			<ul>
				{% for note in notes %}
					<li>
						<a href="/t/note?id={{note.id}}" class="text-blue-800 hover:underline">{{note.body|e}}</a>
					</li>
				{% else %}
					<li>
						<em>No Notes found</em>
					</li>
				{% endfor %}
			</ul>

			<p class="mt-8">
				<a href="/note/create" class="text-blue-800 hover:underline">+ Create Note</a>
			</p>
		</div>
	</main>
{% endblock content %}
