{% extends 'layouts/base.twig' %}

{% block title %}
	{{title}}
{% endblock title %}

{% block content %}
	{% include 'partials/nav.twig' %}
	{% include 'partials/banner.twig' %}

	<main>
		<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
			<a href="/t/notes" class="text-blue-800 hover:underline">Go Back</a>
			<p class="mt-8">{{note.body|e}}</p>

			<p class="mt-4">
				<a class="rounded-md bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" href="/t/note/edit?id={{note.id}}">Edit Note</a>
			</p>
		</div>
	</main>
{% endblock content %}
